# nix support
/.direnv
result
result-*
.nixos-test-history

# rust support
target/

# documentation
assets/tape/output/*

# profiling / testing
flamegraph.svg
perf.data
perf.data.*
tarpaulin-report.html
/mutants.out*/
